@font-face{
    font-family: 'Arian';
    src: url('/fonts/Arian-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




*{
    margin: 0px;
    padding: 0px;
}





body{
    background-color: rgb(18, 18, 18);
    font-family: 'Arian';
    color: white;
}





a{
    text-decoration: none;
    cursor: pointer;
}




/* .main-text-area{
    position: relative;

    display: block;
    width: 1250px;
    height: 450px;
    margin: 35px auto 0;
    border-radius: 15px;
    overflow: hidden;
}



.main-text-area::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: rgb(72, 112, 255);
    background-image: url("/content/imgs/mainbg.png");
    background-size: 100%;
    opacity: 0.75;
}

.main-text-area > div{
    position: relative;
    z-index: 1;
}








.main-text{
    color: white;
    width: max-content;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 1;

    
}










.log-reg-area{
    display: flex;

    width: max-content;
    height: 50px;

    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;

    gap: 10px;
}


.log-reg-buttons{
    color: black;
    font-size: 16px;

    height: 35px;
    width: fit-content; ;

    padding: 0 10px;

    background-color: white;
    border-radius: 100px;
    

    display: flex;
    align-items: center;
    

    transition: color 300ms, opacity 200ms;
    

}




.log-reg-buttons:hover{
    
    color: rgb(152, 152, 152);
    

}



.log-reg-buttons:active{
    opacity: 0.5;
    color: rgb(152, 152, 152)

} */












/* new wer */




.main-text-box{
    position: relative;;
    width: 1250px;
    height: 450px;
    margin: 20px auto 0px auto;

    

}

.main-text-box::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: rgb(72, 112, 255);
    background-image: url("/content/imgs/mainbg.png");
    opacity: 0.9;
    border-radius: 15px;
}


.main-text-area{
    float: right;
    margin-top: 50px;
}

.main-text{
    margin-top: 50px;
    text-align: center;
}




.log-reg-area{
    display: inline-flex;
    float: right;
    gap: 8px;
    margin:15px 15px 20px 0px ;
    
}

.log-reg-buttons{

    padding: 9px;
    border-radius: 20px;

    color: black;
    background-color: rgb(255, 255, 255);
    transition: color 200ms, opacity 50ms;

}


.log-reg-buttons:hover{
    color: rgba(0, 0, 0, 0.558);

}


.log-reg-buttons:active{
    opacity: 0.5;

}



.info{
    display: flex;
    align-content: center;

    width: max-content;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 100px;
}







/* .log{

    width: 300px;
    height: 100vh;

    margin-left: auto;
    margin-right: auto;

    color: white;
}
 */



 #logFrame{
    margin: -50% auto 0 auto;
    inset: 0px;
    position: fixed;
    visibility: hidden;
    width:442px;
    height: 336px;
    border: none;
    z-index: 1000;

    transition: all 500ms;


}

 #regFrame{
    opacity: 0;
    margin: -50% auto 0 auto;
    inset: 0px;
    position: fixed;
    visibility: hidden;
    width:442px;
    height: 336px;
    border: none;
    z-index: 1000;

    transition: all 500ms;

}

.frames{
    opacity: 0;
    inset: 0px;
    width: 100%;
    height: 110%;
    position: absolute;
    display: flex;

    background-color: rgba(255, 255, 255, 0.382);
    visibility: hidden;

    transition: all 500ms;


    


}